

<h1 style="color: #617abd; position: absolute; right: 200px;">المفروض تطلع الصفحة الرئيسية <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-info" style="background-color: #86a1f2; float: right ; position: relative; ">Log Out</button>
</form>
